{% extends 'main.html' %} 
{% load static %} 
{% block styles %}
<link rel="stylesheet" href="{% static 'styles/Courses/EE.css' %}" />
{% endblock %}


{% block content %}
<body>

    <div class="container">
       <div class="image">
      <img src="{% static 'images/bannerforcourse.jpg' %}" style="width:100%;height:330px;"/>  
    </div> 
            <h2>Electrical & Electronics Engineering</h2>
            <p>The Department of Electrical & Electronics Engineering, established in 1987, offers UG and PG programs. The Department offers the undergraduate programme of BTech in Electrical & Electronics Engineering with an intake of 120. The Department has well-qualified, passionate, dedicated faculty and has a well-connected alumni network. With the state-of-the art Laboratory in Power Electronics, Control Systems, Power Systems, Computers and High Voltage & Relay, which caters to the need of all the Electrical & Electronics Engineering students. With an excellent rapport and MoU with industries, the Department is organizes seminars, conferences and workshops on a regular basis to cope up with the recent trends in the technological field.</p>
      </div> <a href="{% url 'registration' %}">
      <button type="button">REGISTER NOW</button></a>
    </div>
    <iframe src="http://127.0.0.1:8000/footer" style="width: 100%;height: 435px;z-index: 1000;border: 0;" scrolling="no"></iframe>
    </body>
{% endblock %}