@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Poppins:ital,wght@0,200;0,300;0,400;1,100&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Montserrat', sans-serif;
    display: block;
    overflow: scroll;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 5px;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: #2e48cc;
}
img{
    margin-bottom: 30px;
}
h2{
    font-weight: 1000;
    margin:0 0 40px 30px;
}
p{
    font-weight: 600;
    line-height: 25px;
    margin:0 30px 60px 30px;
}
button {
  width: 20rem;
  background-color:#2E3192;
  color: white;
  font-size: 1rem;
  font-weight: 600;
  padding: 10px;
  border: 3px solid white;
  border-radius: 50px;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-left: 40%;
  margin-bottom: 100px;
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
 
}
button:hover{
  background-color:#fff;
  color:#2E3192;
  border:1px solid #2E3192;
}